.sidebar {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    // padding-top: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar {
    display: block;
    // padding-top: 30px;
  }
}
