@value primary-text-color from 'path/to/variables.module.css'
@value accent-color: #4a56e2;
/* valuta-hover-button */
@value expenditure-text-color: #ff6596;
@value income-text-color: #24cca7;
@value white-text-color: #ffffff;
@value light-text-color-1: #bdbdbd;
/* (form,name) */
@value light-text-color-2: #e0e0e0;
/* (modal) */
@value light-text-color-3: #a6a6a6;
/* ballance */
@value line-color: #dcdcdf;

@value background-color: #e7eaf2;
@value background-gradient: rgba(255, 255, 255, 0.4);
@value background-select: rgba(255, 255, 255, 0.7);
@value background-backdrop: rgba(0, 0, 0, 0.25);

@value statistic-color-1: #fed057;
@value statistic-color-2: #ffd8d0;
@value statistic-color-3: #fd9498;
@value statistic-color-4: #c5baff;
@value statistic-color-5: #6e78e8;
@value statistic-color-6: #4a56e2;
@value statistic-color-7: #81e1ff;
@value statistic-color-8: #24cca7;
@value statistic-color-9: #00ad84;

@value font-family-main: 'Poppins', sans-serif;
@value font-family-secondary: 'Circe', sans-serif;

@value font-weight-regular: 400;
@value font-weight-bold: 700;

@value font-size-30: 30px;
@value font-size-24: 24px;
@value font-size-18: 18px;
@value font-size-16: 16px;
@value font-size-12: 12px;

@value timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@value desktop: 1280px;
@value tablet: 768px;
@value mobile: 320px;

.form {
  width: 100%;
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 43px;
  text-align: center;
}

.title {
  margin-bottom: 40px;

  font-weight: font-weight-regular;
  font-size: font-size-24;
  line-height: 36px;

  color: primary-text-color;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.select {
  display: block;
  width: 280px;

  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* .inputs_block {
  position: relative;
} */
.input {
  display: flex;
  /* justify-content: center; */
  width: 280px;
  height: 34px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;

  align-items: flex-start;
  border: none;
  border-bottom: 1px solid light-text-color-2;
  font-weight: font-weight-bold;
  font-size: font-size-18;
  line-height: 1.5;
  color: primary-text-color;
}

input::placeholder {
  /* align-self: flex-start; */
  color: light-text-color-1;
}

/* .input-active {
  
} */
.dataContainer {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.dateIcon {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.comment {
  composes: input;
  height: 74px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  border: none;

  text-align: center;
  font-weight: normal;
  font-size: font-size-18;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.button_submit {
  composes: button;
  background: income-text-color;
  color: white-text-color;
  margin-bottom: 20px;
}

.button_cancel {
  composes: button;
  background: white-text-color;
  border: 1px solid accent-color;
  color: accent-color;
}
/* ____________ */
